body {
  height: 100vh;
}

.desktop {
  display: flex;
  height: 100vh;
}

.statsColumn {
  margin-left: 10px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 300px;
  max-width: 100%;
}

.summaryRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #c9c9c9;
}

.summaryRow #weekSummaryGraph {
  min-width: 185px;
  max-width: 185px;
  height: 80px;
  min-height: 80px;
  max-height: 80px;
  background-color: rgb(32, 32, 32);
}

.summaryRow #weekSummaryGraph .graph {
  stroke: rgb(170, 170, 170);
  stroke-dasharray: 0;
  stroke-width: 2;
}

.summaryRow #weekSummaryGraph .labels {
  stroke: rgb(235, 235, 235);
  font-size: 10px;
  font-weight: 100;
  stroke-width: 0.5;
  font-family: "Open Sans", sans-serif;
}

.last10Sessions {
  margin-top: 5px;
}
